In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("1.csv",encoding='latin1')
df2 = pd.read_csv("2.csv",encoding='latin1')
df3 = pd.read_csv("3.csv",encoding='latin1')
df = pd.concat([df1,df2,df3])
#df = df.drop_duplicates(subset='Ag_Num', keep='last', inplace=False)
list(df)

C:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,16,17,19,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Ag_Num',
 'Year_Month',
 'Year_Qtr',
 'Year',
 'Month',
 'AG_Active_Ind',
 'AG_API',
 'AG_Policy_Count',
 'AG_Tenure',
 'AS_Level',
 'AG_Unit',
 'AG_Appointed_Year_Month',
 'AG_Appointed_Date',
 'AG_Terminated_Date',
 'AG_Sales_Zone',
 'AG_GA_Code',
 'AG_Main_GA_Code',
 'AG_Main_GA',
 'AG_GA_dump',
 'AG_Province_Code',
 'AG_Category',
 'AG_Channel_Grp',
 'Ag_12M_Recency',
 'Ag_L3M_Active',
 'Ag_L6M_Active',
 'Ag_L12M_Active',
 'Ag_Mth_Count',
 'Ag_Cumul_Active',
 'Ag_Rein_Count',
 'Ag_f6m_Active',
 'Ag_f12m_Active',
 'Ag_12M_ExpRecency',
 'Ag_ExpTenure',
 'Ag_L12M_ExpActive',
 'Ag_L6M_ExpActive',
 'AG_GAdump_segment',
 'AG_MainGAdump',
 'AG_Province_Name',
 'AG_Region',
 'AG_SubRegion',
 'Ag_Prov_Latitude',
 'Ag_Prov_Longitude',
 'Ag_Region_Tier',
 'Ag_SAS_SubRegion',
 'Ag_Reg_Latitude',
 'Ag_Reg_Longitude',
 'CLNTNUM',
 'AG_Gender_Grp',
 'AG_Education',
 'AG_Marital_Status_Grp',
 'AG_DOB',
 'AG_Age_Join',
 'AG_Age_Join_Grp',
 'AG_Occupation_Code',
 'Ag_Occupation_Grp']

In [10]:
df = pd.concat([df1,df2,df3])
df = df.drop_duplicates(['Ag_Num','Year_Qtr','AG_Category'],keep= 'last')
df['AG_Category'].value_counts()

SA              1540174
13mth+           566054
4-6mth           301980
1-3mth           289147
New Recruits     179839
7-12mth          154253
Gold              55607
Platinum          23712
Diamond           16520
Name: AG_Category, dtype: int64

In [52]:
df.drop(['Year_Month','Year','Month','AG_Appointed_Year_Month','AG_Appointed_Date','AG_Terminated_Date','AG_Occupation_Code',
'AG_DOB',
 'AG_Age_Join','AG_Region',
 'CLNTNUM',
 'Ag_ExpTenure',
 'Ag_L12M_ExpActive',
 'Ag_L6M_ExpActive'], axis=1, inplace=True)

df.to_csv('master.csv')

In [ ]:
#df[df.select_dtypes(['object']).columns] = df.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [11]:
df_SA = df[df.AG_Category == 'SA']
df_13mth = df[df.AG_Category == '13mth+']
df_4mth = df[df.AG_Category == '4-6mth']
df_1mth = df[df.AG_Category == '1-3mth']
df_7mth = df[df.AG_Category == '7-12mth']
df_NewRecruits = df[df.AG_Category == 'New Recruits']
df_Gold = df[df.AG_Category == 'Gold']
df_Platinum = df[df.AG_Category == 'Platinum']
df_Diamond = df[df.AG_Category == 'Diamond']

In [12]:
df_rookies = pd.concat([df_13mth,df_4mth,df_1mth,df_7mth,df_NewRecruits])

In [13]:
df_pe = pd.concat([df_Gold,df_Platinum,df_Diamond])

In [32]:
df_pe.shape

(95839, 32)

In [33]:
df_rookies.shape

(1491273, 32)

In [14]:
df_pe['target'] = 1

In [15]:
df_rookies['target'] = 0

In [16]:
df_master = pd.concat([df_pe,df_rookies])

In [59]:
list(df_master)
del df_master['Ag_Num']
del df_master['AG_Category']

In [17]:
df_master.to_csv('df_master.csv')

In [8]:
df.head()

,Ag_Num,Year_Month,Year_Qtr,Year,Month,AG_Active_Ind,AG_API,AG_Policy_Count,AG_Tenure,AS_Level,...,Ag_Reg_Longitude,CLNTNUM,AG_Gender_Grp,AG_Education,AG_Marital_Status_Grp,AG_DOB,AG_Age_Join,AG_Age_Join_Grp,AG_Occupation_Code,Ag_Occupation_Grp
0,11111111,20170131,2017Q1,2017,1,0,0,0.0,3.67,AG,...,106.700883,91744488,Female,Secondary school,Married,19890101.0,27.0,02.21-30,2285.0,Undeclared
2,11111111,20170331,2017Q1,2017,3,1,36352700,8.0,5.63,AG,...,106.700883,91744488,Female,Secondary school,Married,19890101.0,27.0,02.21-30,2285.0,Undeclared
3,11111111,20170430,2017Q2,2017,4,0,-18200000,-2.0,6.60,AG,...,106.700883,91744488,Female,Secondary school,Married,19890101.0,27.0,02.21-30,2285.0,Undeclared
5,11111111,20170630,2017Q2,2017,6,1,3615500,2.0,8.67,AG,...,106.700883,91744488,Female,Secondary school,Married,19890101.0,27.0,02.21-30,2285.0,Undeclared
8,11111111,20170930,2017Q3,2017,9,0,0,0.0,11.73,AG,...,106.700883,91744488,Female,Secondary school,Married,19890101.0,27.0,02.21-30,2285.0,Undeclared

In [9]:
df['AG_Category'].value_counts()

SA              1540174
13mth+           566054
4-6mth           301980
1-3mth           289147
New Recruits     179839
7-12mth          154253
Gold              55607
Platinum          23712
Diamond           16520
Name: AG_Category, dtype: int64