In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('hh.csv', encoding='cp1252')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.describe()

,Ag_Num,Year_Month,Year,Month,AG_Active_Ind,AG_API,AG_Policy_Count,AG_Tenure,AG_Appointed_Year_Month,Ag_Prov_Latitude,...,Ag_Reg_Latitude,Ag_Reg_Longitude,CLNTNUM,AG_DOB,AG_Age_Join,AG_Occupation_Code,AG_APE_L6M,AG_Policy_L6M,Ag_Active_L3M,Ag_Active_L6M
count,1.721770e+05,1.721770e+05,172177.000000,172177.000000,172177.000000,1.721770e+05,172177.000000,172177.000000,172177.000000,172177.000000,...,172177.000000,172177.000000,1.721770e+05,1.721770e+05,172177.000000,171875.000000,1.721770e+05,172177.000000,155831.000000,155831.000000
mean,6.060089e+07,2.017171e+07,2017.100495,6.729191,0.397916,7.818692e+06,0.570541,0.232305,201716.778734,16.986786,...,17.475748,106.623377,6.486820e+07,1.978961e+07,38.202123,1344.957335,1.818696e+07,1.294804,0.148937,0.763359
std,8.607902e+04,9.302115e+03,0.935725,3.326771,0.489469,1.513823e+07,1.011755,0.228922,93.021467,4.303806,...,4.148074,0.976539,3.648287e+07,1.167797e+05,11.662101,801.898704,5.411691e+07,3.446169,0.520271,1.153578
min,6.000032e+07,2.016013e+07,2016.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,201601.000000,8.962410,...,10.776474,105.834160,1.300000e+01,1.940062e+07,18.000000,2.000000,-9.832770e+07,-1.000000,0.000000,0.000000
25%,6.056818e+07,2.016103e+07,2016.000000,4.000000,0.000000,0.000000e+00,0.000000,0.000000,201610.000000,11.940419,...,16.054407,105.834160,1.060604e+07,1.969120e+07,28.000000,1078.000000,0.000000e+00,0.000000,0.000000,0.000000
50%,6.061155e+07,2.017083e+07,2017.000000,6.000000,0.000000,0.000000e+00,0.000000,0.200000,201708.000000,18.294378,...,21.027764,105.834160,8.836860e+07,1.981032e+07,36.000000,1078.000000,0.000000e+00,0.000000,0.000000,0.000000
75%,6.065501e+07,2.018063e+07,2018.000000,10.000000,1.000000,1.239460e+07,1.000000,0.400000,201806.000000,21.006382,...,21.027764,108.202167,9.314227e+07,1.989043e+07,48.000000,2285.000000,1.401750e+07,1.000000,0.000000,1.000000
max,6.069864e+07,2.019053e+07,2019.000000,12.000000,1.000000,6.502617e+08,40.000000,1.000000,201905.000000,22.766206,...,21.027764,108.202167,9.999997e+07,2.001042e+07,78.000000,2500.000000,3.300407e+09,147.000000,3.000000,6.000000

In [10]:
df.shape

(172177, 48)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172177 entries, 0 to 172176
Data columns (total 48 columns):
Ag_Num                     172177 non-null int64
Year_Month                 172177 non-null int64
Year_Qtr                   172177 non-null object
Year                       172177 non-null int64
Month                      172177 non-null int64
AG_Active_Ind              172177 non-null int64
AG_API                     172177 non-null int64
AG_Policy_Count            172177 non-null float64
AG_Tenure                  172177 non-null float64
AS_Level                   172177 non-null object
AG_Unit                    172177 non-null object
AG_Appointed_Year_Month    172177 non-null int64
AG_Appointed_Date          172177 non-null object
AG_Terminated_Date         10 non-null object
AG_Sales_Zone              171984 non-null object
AG_GA_Code                 172177 non-null object
AG_Main_GA_Code            172177 non-null object
AG_Main_GA                 172177 non-null object
AG_GA_dump                 172145 non-null object
AG_Province_Code           172177 non-null object
AG_Category                172177 non-null object
AG_Channel_Grp             172177 non-null object
AG_GAdump_segment          155921 non-null object
AG_MainGAdump              166689 non-null object
AG_Province_Name           172177 non-null object
AG_Region                  172177 non-null object
AG_SubRegion               172177 non-null object
Ag_Prov_Latitude           172177 non-null float64
Ag_Prov_Longitude          172177 non-null float64
Ag_Region_Tier             172177 non-null int64
Ag_SAS_SubRegion           172177 non-null object
Ag_Reg_Latitude            172177 non-null float64
Ag_Reg_Longitude           172177 non-null float64
CLNTNUM                    172177 non-null int64
AG_Gender_Grp              172177 non-null object
AG_Education               172177 non-null object
AG_Marital_Status_Grp      172177 non-null object
AG_DOB                     172177 non-null int64
AG_Age_Join                172177 non-null int64
AG_Age_Join_Grp            172177 non-null object
AG_Occupation_Code         171875 non-null float64
Ag_Occupation_Grp          171190 non-null object
AG_Cat_After6mth           155831 non-null object
PE_Converted               155831 non-null object
AG_APE_L6M                 172177 non-null int64
AG_Policy_L6M              172177 non-null float64
Ag_Active_L3M              155831 non-null float64
Ag_Active_L6M              155831 non-null float64
dtypes: float64(10), int64(12), object(26)
memory usage: 63.1+ MB

In [14]:
df.count()

Ag_Num                     172177
Year_Month                 172177
Year_Qtr                   172177
Year                       172177
Month                      172177
AG_Active_Ind              172177
AG_API                     172177
AG_Policy_Count            172177
AG_Tenure                  172177
AS_Level                   172177
AG_Unit                    172177
AG_Appointed_Year_Month    172177
AG_Appointed_Date          172177
AG_Terminated_Date             10
AG_Sales_Zone              171984
AG_GA_Code                 172177
AG_Main_GA_Code            172177
AG_Main_GA                 172177
AG_GA_dump                 172145
AG_Province_Code           172177
AG_Category                172177
AG_Channel_Grp             172177
AG_GAdump_segment          155921
AG_MainGAdump              166689
AG_Province_Name           172177
AG_Region                  172177
AG_SubRegion               172177
Ag_Prov_Latitude           172177
Ag_Prov_Longitude          172177
Ag_Region_Tier             172177
Ag_SAS_SubRegion           172177
Ag_Reg_Latitude            172177
Ag_Reg_Longitude           172177
CLNTNUM                    172177
AG_Gender_Grp              172177
AG_Education               172177
AG_Marital_Status_Grp      172177
AG_DOB                     172177
AG_Age_Join                172177
AG_Age_Join_Grp            172177
AG_Occupation_Code         171875
Ag_Occupation_Grp          171190
AG_Cat_After6mth           155831
PE_Converted               155831
AG_APE_L6M                 172177
AG_Policy_L6M              172177
Ag_Active_L3M              155831
Ag_Active_L6M              155831
dtype: int64

In [15]:
df.dtypes

Ag_Num                       int64
Year_Month                   int64
Year_Qtr                    object
Year                         int64
Month                        int64
AG_Active_Ind                int64
AG_API                       int64
AG_Policy_Count            float64
AG_Tenure                  float64
AS_Level                    object
AG_Unit                     object
AG_Appointed_Year_Month      int64
AG_Appointed_Date           object
AG_Terminated_Date          object
AG_Sales_Zone               object
AG_GA_Code                  object
AG_Main_GA_Code             object
AG_Main_GA                  object
AG_GA_dump                  object
AG_Province_Code            object
AG_Category                 object
AG_Channel_Grp              object
AG_GAdump_segment           object
AG_MainGAdump               object
AG_Province_Name            object
AG_Region                   object
AG_SubRegion                object
Ag_Prov_Latitude           float64
Ag_Prov_Longitude          float64
Ag_Region_Tier               int64
Ag_SAS_SubRegion            object
Ag_Reg_Latitude            float64
Ag_Reg_Longitude           float64
CLNTNUM                      int64
AG_Gender_Grp               object
AG_Education                object
AG_Marital_Status_Grp       object
AG_DOB                       int64
AG_Age_Join                  int64
AG_Age_Join_Grp             object
AG_Occupation_Code         float64
Ag_Occupation_Grp           object
AG_Cat_After6mth            object
PE_Converted                object
AG_APE_L6M                   int64
AG_Policy_L6M              float64
Ag_Active_L3M              float64
Ag_Active_L6M              float64
dtype: object

In [16]:
df.head()

,Ag_Num,Year_Month,Year_Qtr,Year,Month,AG_Active_Ind,AG_API,AG_Policy_Count,AG_Tenure,AS_Level,...,AG_Age_Join,AG_Age_Join_Grp,AG_Occupation_Code,Ag_Occupation_Grp,AG_Cat_After6mth,PE_Converted,AG_APE_L6M,AG_Policy_L6M,Ag_Active_L3M,Ag_Active_L6M
0,60000323,20170131,2017Q1,2017,1,1,26444900,1.0,0.37,AG,...,43,04.41-50,2019.0,"Sales (Insurance, Real estate)",4-6mth,Non-PE,51444900,2.0,0.0,2.0
1,60001078,20170131,2017Q1,2017,1,1,41832000,3.0,0.40,AG,...,44,04.41-50,2019.0,"Sales (Insurance, Real estate)",4-6mth,Non-PE,211058700,10.0,1.0,4.0
2,60001116,20180331,2018Q1,2018,3,0,0,0.0,0.03,AG,...,51,05.51-60,2019.0,"Sales (Insurance, Real estate)",4-6mth,Non-PE,12264100,1.0,0.0,1.0
3,60001493,20161130,2016Q4,2016,11,1,13505900,1.0,0.07,AG,...,45,04.41-50,218.0,White-collar,Gold,PE Converted,109859200,4.0,1.0,2.0
4,60003175,20160630,2016Q2,2016,6,0,0,0.0,0.03,AG,...,39,03.31-40,2285.0,Undeclared,Gold,PE Converted,286537500,18.0,2.0,3.0

In [17]:
list(df)

['Ag_Num',
 'Year_Month',
 'Year_Qtr',
 'Year',
 'Month',
 'AG_Active_Ind',
 'AG_API',
 'AG_Policy_Count',
 'AG_Tenure',
 'AS_Level',
 'AG_Unit',
 'AG_Appointed_Year_Month',
 'AG_Appointed_Date',
 'AG_Terminated_Date',
 'AG_Sales_Zone',
 'AG_GA_Code',
 'AG_Main_GA_Code',
 'AG_Main_GA',
 'AG_GA_dump',
 'AG_Province_Code',
 'AG_Category',
 'AG_Channel_Grp',
 'AG_GAdump_segment',
 'AG_MainGAdump',
 'AG_Province_Name',
 'AG_Region',
 'AG_SubRegion',
 'Ag_Prov_Latitude',
 'Ag_Prov_Longitude',
 'Ag_Region_Tier',
 'Ag_SAS_SubRegion',
 'Ag_Reg_Latitude',
 'Ag_Reg_Longitude',
 'CLNTNUM',
 'AG_Gender_Grp',
 'AG_Education',
 'AG_Marital_Status_Grp',
 'AG_DOB',
 'AG_Age_Join',
 'AG_Age_Join_Grp',
 'AG_Occupation_Code',
 'Ag_Occupation_Grp',
 'AG_Cat_After6mth',
 'PE_Converted',
 'AG_APE_L6M',
 'AG_Policy_L6M',
 'Ag_Active_L3M',
 'Ag_Active_L6M']

In [20]:
df.PE_Converted.value_counts()

Non-PE          149223
PE Converted      6608
Name: PE_Converted, dtype: int64

In [23]:
df1 = df[['AG_Active_Ind',
 'AG_API',
 'AG_Policy_Count',
 'AG_Tenure',
 'AS_Level',
 'AG_Unit',
 'AG_Sales_Zone',
 'AG_Province_Code',
 'AG_GAdump_segment',
 'AG_Gender_Grp',
 'AG_Education',
 'AG_Marital_Status_Grp',
 'AG_Age_Join',
 'AG_Age_Join_Grp',
 'Ag_Occupation_Grp',
 'AG_Cat_After6mth',
 'PE_Converted',
 'AG_APE_L6M',
 'AG_Policy_L6M',
 'Ag_Active_L3M',
 'Ag_Active_L6M']]

,AG_Active_Ind,AG_API,AG_Policy_Count,AG_Tenure,AG_Age_Join,AG_APE_L6M,AG_Policy_L6M,Ag_Active_L3M,Ag_Active_L6M
count,172177.000000,1.721770e+05,172177.000000,172177.000000,172177.000000,1.721770e+05,172177.000000,155831.000000,155831.000000
mean,0.397916,7.818692e+06,0.570541,0.232305,38.202123,1.818696e+07,1.294804,0.148937,0.763359
std,0.489469,1.513823e+07,1.011755,0.228922,11.662101,5.411691e+07,3.446169,0.520271,1.153578
min,0.000000,0.000000e+00,0.000000,0.000000,18.000000,-9.832770e+07,-1.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000,0.000000,28.000000,0.000000e+00,0.000000,0.000000,0.000000
50%,0.000000,0.000000e+00,0.000000,0.200000,36.000000,0.000000e+00,0.000000,0.000000,0.000000
75%,1.000000,1.239460e+07,1.000000,0.400000,48.000000,1.401750e+07,1.000000,0.000000,1.000000
max,1.000000,6.502617e+08,40.000000,1.000000,78.000000,3.300407e+09,147.000000,3.000000,6.000000